<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.GoodsMapper">

<select id="goodsAllList" resultType="GoodsDTO">
 select gcode,gcategory,gname,gcontent,gprice,gimage1,gimage2 
 from goods
</select>

<select id="goodsList" parameterType="string" resultType="GoodsDTO">
 select gcode,gcategory,gname,gcontent,gprice,gimage1,gimage2 
 from goods
 where gcategory=#{gCategory}
</select>

<select id="goodsRetrieve" parameterType="string" resultType="GoodsDTO">
 select gcode,gcategory,gname,gcontent,gprice,gimage1,gimage2 
 from goods
 where gcode=#{gCode}
</select>

</mapper>