<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.MemberMapper">

<insert id="memberJoin" parameterType="MemberDTO">
insert into member(userid,passwd,username,post1,post2,addr1,addr2,phone1,phone2,phone3,email1,email2,point,buycnt,joinday)
values (#{userid},#{passwd},#{username},#{post1},#{post2},#{addr1},#{addr2},#{phone1},#{phone2},#{phone3},#{email1},#{email2},#{point},#{buycnt},sysdate)
</insert>

<select id="memberLogin" parameterType="hashmap" resultType="MemberDTO">
select userid,passwd,username,post1,post2,addr1,addr2,phone1,phone2,phone3,email1,email2,point,buycnt,joinday
from member
where userid=#{userid} and passwd=#{passwd}
</select>

<select id="mypage" parameterType="string" resultType="MemberDTO">
select userid,passwd,username,post1,post2,addr1,addr2,phone1,phone2,phone3,email1,email2,point,buycnt,joinday
from member
where userid=#{userid} 
</select>

<update id="memberUpdate" parameterType="MemberDTO">
update member set passwd=#{passwd}, post1=#{post1}, post2=#{post2}, addr1=#{addr1}, addr2=#{addr2}, phone1=#{phone1}, phone2=#{phone2},
 phone3=#{phone3}, email1=#{email1}, email2=#{email2}
 where userid=#{userid} 
</update>


<delete id="memberDelete" parameterType="string">
delete from member
where userid=#{userid}
</delete>

<select id="idCheck" parameterType="string" resultType="MemberDTO">
select  userid,passwd,username,post1,post2,addr1,addr2,phone1,phone2,phone3,email1,email2,point,buycnt,joinday
 from member where userid=#{userid}
</select>
</mapper>